body {
  background-color: #0E0E0E;
}

.color-head {
  background-color: black;
}

.color-text {
  color: white;
}
.color-text:hover {
  color: #ff9900;
}
.color-text-orange {
  color: #ff9900;
  font-weight: bold;
}
.color-text:hover {
  color: #ff9900;
}

body {
  background-color: #0E0E0E;
}

.color-head {
  background-color: black;
}

.color-text {
  color: white;
}
.color-text:hover {
  color: #ff9900;
}
.color-text-orange {
  color: #ff9900;
  font-weight: bold;
}
.color-text:hover {
  color: #ff9900;
}

/*FORMS STYLE */
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.connexionList a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 1;
}
.connexionList a:hover {
  color: #ff9900;
}

#menu nav ul {
  width: 100%;
}

#menu li {
  width: 50%;
  text-align: center;
  float: left;
  cursor: pointer;
}

#menu li a {
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
}

.wrap {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 50px;
}

.box {
  width: 50%;
  float: left;
  z-index: 1;
  position: absolute;
  background: #ff9900;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.5s;
}

.box label {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  color: white;
}

input {
  width: 100%;
  height: 40px;
  float: left;
  margin-bottom: 20px;
  background: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 4px;
}

input[type=submit] {
  width: 50%;
  float: right;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
}

#login input[type=submit] {
  background: #ff9900;
  color: #FFF;
  transition: all 0.35s ease-in-out;
}

#signup input[type=submit] {
  background: #ff9900;
  color: #FFF;
  border: 1px solid #ff9900;
  transition: all 0.35s ease-in-out;
}

#login input[type=submit]:hover {
  background: #FFF;
  color: #ff9900;
  border: 1px solid #ff9900;
}

#signup input[type=submit]:hover {
  background: #FFF;
  color: #ff9900;
}

.wrap #login {
  left: 0;
  -webkit-transform: translateX(30%) scale(0.9);
  transform: translateX(30%) scale(0.9);
  -webkit-animation: box1Out 0.5s;
  animation: box1Out 0.5s;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.wrap #login.active {
  -webkit-transform: translateX(35%);
  transform: translateX(35%);
  -webkit-animation: box1In 0.5s;
  animation: box1In 0.5s;
}

.wrap #signup {
  right: 0;
  -webkit-transform: translateX(-30%) scale(0.9, 0.8);
  transform: translateX(-30%) scale(0.9, 0.8);
  -webkit-animation: box2Out 0.5s;
  animation: box2Out 0.5s;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.wrap #signup.active {
  -webkit-animation: box2In 0.5s;
  animation: box2In 0.5s;
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
}

.box.active {
  background: #0E0E0E;
  z-index: 2;
  box-shadow: 11px 7px 19px 2px #000000;
}

.box.active label, .box.active input {
  opacity: 1;
}

.box input, .box label {
  opacity: 0;
}

/*Animation*/
@-webkit-keyframes box1In {
  0% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
  }
}
@keyframes box1In {
  0% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
  }
}
@-webkit-keyframes box1Out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
  }
}
@keyframes box1Out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
  }
}
@-webkit-keyframes box2In {
  0% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
  }
}
@keyframes box2In {
  0% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
  }
}
@-webkit-keyframes box2Out {
  0% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
  }
}
@keyframes box2Out {
  0% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
  }
}
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
}

/*****************************************************************************************************
    MAIN.PHP
*****************************************************************************************************/
.lien {
  margin-top: 100px;
  color: #ff9900;
}

.user {
  /* ma vie est nul */
}
.user-favorite {
  height: 400px;
}
.user-list {
  background-color: black;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.user-favorite-update {
  background-color: black;
  height: 300px;
}

.recherch {
  background-color: transparent;
  height: 40px;
  margin-top: 75px;
  text-align: center;
  color: #A7A7A7;
  padding-top: 5px;
}

#site-search {
  width: 100px;
  height: 30px;
  background-color: none;
  margin-right: auto;
  margin-left: auto;
}

#grid {
  height: 100%;
  margin-top: 80px;
  background-color: #0E0E0E;
}

.grid {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
}

#background-image-main {
  margin: 0;
  padding: 0;
  background: url("../img/fond-main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text-grid {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-align: center;
}

/*****************************************************************************************************
    CONNEXION.PHP
*****************************************************************************************************/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  margin-top: 100px;
}

#background {
  margin: 0;
  padding: 0;
  background: url("../img/fondConnexion2.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
#background:after {
  content: "";
  display: block;
  position: fixed;
  /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.88);
}

/*****************************************************************************************************
    PROFIL.PHP
*****************************************************************************************************/
section {
  margin-top: 10px;
}

.sectionProfil {
  width: 400px;
  margin-top: 100px;
  min-height: 90%;
  background-color: aqua;
}
.sectionProfil h2 {
  color: white;
}
.sectionProfil label {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: 3px;
  color: white;
}
.sectionProfil input {
  width: 350px;
}

.btn-upload {
  background-color: #ff9900;
  width: 90px;
  float: right;
  margin-right: 50px;
}
.btn-upload:hover {
  background-color: #995c00;
}

#main-sections {
  margin-top: 100px;
}

#sectionChoix {
  margin-top: 100px;
  min-height: 100%;
}

.color-card {
  height: 400px;
  width: 300px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.733), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nb-point {
  margin-top: 60px;
  font-size: 120px;
  font-family: "Anton", sans-serif;
  color: #ff9900;
}

.text-point {
  margin-top: 30px;
  font-size: 30px;
  color: #ff9900;
}

.ref-buton {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  color: white;
}
.ref-buton:hover {
  color: #ff9900;
  text-decoration: none;
}

#img-none {
  margin: 0;
  padding: 0;
  background: url("../img/fond-main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#form {
  margin-bottom: 300px;
  margin-top: 200px;
  color: white;
}

.padding-pro {
  margin-top: 20px;
  background-color: #ff9900;
  border: none;
  color: white;
  height: 36px;
}

h1 {
  text-align: center;
}

.row-up {
  text-decoration: none;
  color: white;
}
.row-up:hover {
  color: #ff9900;
}

/*****************************************************************************************************
    VIDEO.PHP
*****************************************************************************************************/
.nameUploader {
  color: #ff9900;
}

.textWhite {
  margin-top: 10px;
  color: white;
}

.cut-container {
  width: 500px;
  border: 2px solid black;
}

/*# sourceMappingURL=style.css.map */