body {
  background-color: #161720;
}

/*FORMS STYLE */
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

#menu nav ul {
  width: 100%;
}

#menu li {
  width: 50%;
  text-align: center;
  float: left;
  cursor: pointer;
}

#menu li a {
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
}

#menu hr {
  position: absolute;
  width: 20%;
  height: 2px;
  border: none;
  background: #c9dfec;
  margin: 0;
  top: 100%;
  transform: translateX(75%);
  transition: transform 0.25s ease-in-out;
}

#menu .nextBox hr {
  transform: translateX(325%);
}

.wrap {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 50px;
}

.box {
  width: 50%;
  float: left;
  z-index: 1;
  position: absolute;
  background: #c9dfec;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.5s;
}

.box label {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  color: #cfd8d8;
}

input {
  width: 100%;
  height: 40px;
  float: left;
  margin-bottom: 20px;
  background: #eef9fe;
  border: 1px solid #cddbee;
  border-radius: 4px;
}

input[type=submit] {
  width: 50%;
  float: right;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
}

#login input[type=submit] {
  background: #a7e245;
  color: #FFF;
  transition: all 0.35s ease-in-out;
}

#signup input[type=submit] {
  background: #FFF;
  color: #a7e245;
  border: 1px solid #a7e245;
  transition: all 0.35s ease-in-out;
}

#login input[type=submit]:hover {
  background: #FFF;
  color: #a7e245;
  border: 1px solid #a7e245;
}

#signup input[type=submit]:hover {
  background: #a7e245;
  color: #FFF;
}

.wrap #login {
  left: 0;
  -webkit-transform: translateX(30%) scale(0.9);
  transform: translateX(30%) scale(0.9);
  -webkit-animation: box1Out 0.5s;
  animation: box1Out 0.5s;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.wrap #login.active {
  -webkit-transform: translateX(35%);
  transform: translateX(35%);
  -webkit-animation: box1In 0.5s;
  animation: box1In 0.5s;
}

.wrap #signup {
  right: 0;
  -webkit-transform: translateX(-30%) scale(0.9, 0.8);
  transform: translateX(-30%) scale(0.9, 0.8);
  -webkit-animation: box2Out 0.5s;
  animation: box2Out 0.5s;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.wrap #signup.active {
  -webkit-animation: box2In 0.5s;
  animation: box2In 0.5s;
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
}

.box.active {
  background: #FFF;
  z-index: 2;
}

.box.active label, .box.active input {
  opacity: 1;
}

.box input, .box label {
  opacity: 0;
}

/*Animation*/
@-webkit-keyframes box1In {
  0% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
  }
}
@keyframes box1In {
  0% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
  }
}
@-webkit-keyframes box1Out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
  }
}
@keyframes box1Out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95);
    transform: translateX(0) scale(0.95);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.9);
    transform: translateX(30%) scale(0.9);
  }
}
@-webkit-keyframes box2In {
  0% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
  }
}
@keyframes box2In {
  0% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
  }
}
@-webkit-keyframes box2Out {
  0% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
  }
}
@keyframes box2Out {
  0% {
    -webkit-transform: translateX(-35%) scale(1, 1);
    transform: translateX(-35%) scale(1, 1);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.95, 0.9);
    transform: translateX(0) scale(0.95, 0.9);
    z-index: 1;
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.9, 0.8);
    transform: translateX(-30%) scale(0.9, 0.8);
  }
}
section {
  margin-top: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: black;
}

#menu {
  margin-top: 200px;
}


/*# sourceMappingURL=style.css.map */
